header{
    background-color:darkgrey;
    display: flex;
    justify-content: center;

}
header li{
    padding-left: 30px;
      list-style-type: none;
    
    }
    header li a {
        text-decoration: none;
        font-size: 40px;
        color: deeppink;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    body {
        margin: 0;
        background: linear-gradient(45deg, #61e709, #047332);
        font-family: sans-serif;
        font-weight: 100;
       
      }

      table, th,td{
        border: 1px solid;
        text-align: center;
        color: black;
    
      
        
        }
    
    table{
      width: 100%;
        background-color:rgb(197, 159, 20);
        font-size: 1rem;
        border-collapse: collapse;
    }
       
    th{
        background-color:rgb(181, 249, 23);
        width: auto
        
    }

     

      footer{
        background-color:darkmagenta;
       position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: rgb(255, 255, 255);
        text-align: center;
    
    }
    
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .fa-snapchat {
        background:yellow;
        color: white;
      }
      .fa-whatsapp {
        background:green;
        color: white;
      }
    
